    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1 class="text-center">in stock?</h1>
          <h3 class="text-center">quickly & easily find the essentials.</h3>
          <h4 class="text-center">featuring toilet paper.</h4>
          <div class="text-center mapbutton">
                <a href="/map" type="button" class="btn btn-dark btn-lg cute-tp">find tp</a>
          </div>
        </div>
    <div class="col-lg">
      <img src="/img/find-monster-pin.png" width="100%">
    </div>
  </div>
  <ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item flex-fill"><h5>search</h5><p>find nearby stores with inventory</p></li>
  <li class="list-group-item flex-fill"><h5>share</h5><p>close or inside a store? simply click on the icon to update inventory</p></li>
  <li class="list-group-item flex-fill"><h5>update</h5><p>business owners wanna share? login!</p></li>
</ul>
<script src="js/geo.js"></script>